<template>
  <div class="wysiwyg">
    <div class="toolbar">
      <button class="btn-primary" @click="undo">
        <img src="@/assets/icons/undo.svg">
      </button>
      <button class="btn-primary" @click="redo">
        <img src="@/assets/icons/redo.svg">
      </button>
      <button class="btn-primary" @click="setHeading">
        <img src="@/assets/icons/heading.svg">
      </button>
      <button class="btn-primary" @click="setParagraph">
        <img src="@/assets/icons/paragraph.svg">
      </button>
      <button class="btn-primary" @click="setImage">
        <img src="@/assets/icons/image.svg">
      </button>
      <button class="btn" @click="copyHTML">Скопировать HTML</button>
    </div>

    <div class="wysiwyg-editor" contenteditable="true" ref="editor">
      <p>
        Таким образом консультация с широким активом представляет собой интересный эксперимент проверки позиций,
        занимаемых участниками в отношении поставленных задач. С другой стороны постоянное
        информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки
        форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры влечет за собой
        процесс внедрения и модернизации соответствующий условий активизации. Задача организации, в особенности же
        реализация намеченных плановых заданий играет важную роль в формировании дальнейших направлений развития.
        Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности
        играет важную роль в формировании существенных финансовых и административных условий.
      </p>

      <h2>
        Смотрите какие обезьянки
      </h2>

      <img src="https://picsum.photos/seed/picsum/536/354" alt="Горы">

      <p>
        Таким образом консультация с широким активом представляет собой интересный эксперимент проверки позиций,
        занимаемых участниками в отношении поставленных задач. С другой стороны постоянное
        информационно-пропагандистское обеспечение нашей деятельности представляет собой инйцу шо шщйоц ущойц ущошцщйуо
        йцщуо йщцоу щйоу шщйцош ущйтересный эксперимент проверки форм развития. Идейные соображения высшего порядка, а
        также укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий
        активизации. Задача организации, в особенности же реализация намеченных плановых заданий играет важную роль в
        формировании дальнейших направлений развития. Повседневная практика показывает, что постоянное
        информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании существенных
        финансовых и административных условий.

        Товарищи! новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития.
        Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас
        анализа позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же
        реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным
        потребностям.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Editor",
  data() {
    return ({
      html: '',
      editor: null,
    })
  },
  methods: {
    // Ещё можно было сделать чтоб изменялся ИМЕННО выделенный
    // текст через insertHTML команду exec, но я
    // ориентировался на редактор ВКонтакте (понравился он мне)
    setHeading() {
      this.exec('formatBlock', false, 'h2')
    },
    setParagraph() {
      this.exec('formatBlock', false, 'p')
    },
    setImage() {
      let url = prompt('Введите URL картинки');
      if (url && url.trim()) {
        this.exec('insertImage', false, url)
      }
    },
    copyHTML() {
      navigator.clipboard.writeText(this.html).then(function () {
        alert('Copied !')
      }, function (err) {
        console.error('Async: Could not copy text: ', err);
      });
    },
    syncHTML() {
      if (this.html !== this.$refs.editor.innerHTML) {
        this.html = this.$refs.editor.innerHTML;
        console.log('sync')
      }
    },
    exec(command, show, value) {
      document.execCommand(command, show, value);
    },
    redo() {
      this.exec('redo', false, null)
    },
    undo() {
      this.exec('undo', false, null)
    },
  },
  mounted() {
    this.$refs.editor.addEventListener('DOMSubtreeModified', () => {
      this.syncHTML()
    });
  }
};
</script>

<style>

.wysiwyg {
  display: grid;
  grid-auto-rows: min-content 1fr;
  height: 100%;
}

.wysiwyg-editor {
  margin-top: 140px;
  outline: none;
  color: #EAEAEA;
  font-family: 'Roboto', san-serif;
  padding-bottom: 60px;
}

.toolbar {
  position: fixed;
  width: 100%;
  background: #1E1E1E;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, max-content);
  grid-gap: 12px;
  padding: 74px 0 10px;
}

.btn, .btn-primary {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', san-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.btn {
  background: none;
  border: none;
  color: #639EFF;
}

.btn-primary {
  background: #282828;
  width: 42px;
  height: 42px;
  border: none;
}

.wysiwyg-editor p, .wysiwyg-editor div {
  font-family: 'Roboto', san-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #EAEAEA;
  margin: 20px 0;
}

.wysiwyg-editor h2 {
  font-family: 'Roboto', san-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;

  margin: 40px 0 30px;
}

.wysiwyg-editor img {
  width: 100%;
}
</style>