<template>
  <div id="app">
    <Editor />
  </div>
</template>

<script>
import Editor from "./components/Editor.vue";
import './assets/main.css'

export default {
  name: "App",
  components: {
    Editor
  }
};
</script>

<style>
#app {
  width: 100%;
  padding: 0 16px;
}
 @media screen and (min-width: 992px){
   #app {
     max-width: 900px;
     margin: 0 auto;
   }
 }
</style>
